
table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 2rem;
}
table tbody + tbody {
    border-top: 1px solid rgba(0, 0, 0, 0.12);
}
table table {
    background-color: #f9f9f9;
}
table thead tr th,
table thead tr td,
table tbody tr th,
table tbody tr td,
table tfoot tr th,
table tfoot tr td {
    border: 0;
    border-bottom: 1px solid #e0e0e0;
}
table thead > tr th,
table thead > tr td {
    border-bottom-width: 2px;
}
table tbody > tr:nth-child(odd) td,
table tbody > tr:nth-child(odd) th {
    background-color: #f2f2f4;
}
table tbody > tr:hover td,
table tbody > tr:hover th {
    background-color: rgba(0, 0, 0, 0.04);
}

tr.inactive {
    background: #d2d2d2;
}

@media screen and (max-width: 768px) {
    .table-responsive-vertical table {
        margin-bottom: 0;
        background-color: transparent;
    }
    .table-responsive-vertical table thead,
    .table-responsive-vertical table tfoot {
        display: none;
    }
    .table-responsive-vertical table tbody {
        display: block;
    }
    .table-responsive-vertical table tbody tr {
        display: block;
        border: 1px solid #e0e0e0;
        border-radius: 2px;
        margin-bottom: 1.6rem;
    }
    .table-responsive-vertical table tbody tr td {
        background-color: #f9f9f9;
        display: block;
        vertical-align: middle;
        text-align: right;
    }
    .table-responsive-vertical table tbody tr td[data-title]:before {
        content: attr(data-title);
        float: left;
        font-size: inherit;
        font-weight: 400;
        color: #757575;
    }
    .table-responsive-vertical table {
        border: 0;
        box-shadow: none;
    }
    .table-responsive-vertical table tbody tr td {
        border: 0;
        border-bottom: 1px solid #e0e0e0;
    }
    .table-responsive-vertical table tbody tr td:last-child {
        border-bottom: 0;
    }
    .table-responsive-vertical table tbody > tr > td,
    .table-responsive-vertical table tbody > tr:nth-child(odd) {
        background-color: #f9f9f9;
    }
    .table-responsive-vertical table tbody > tr > td:nth-child(odd) {
        background-color: #f2f2f4;
    }
    .table-responsive-vertical table tbody tr:hover > td,
    .table-responsive-vertical table tbody tr:hover {
        background-color: #f9f9f9;
    }
    .table-responsive-vertical table tbody tr {
        border: none;
    }
    .table-responsive-vertical table tbody tr td:hover {
        background-color: rgba(0, 0, 0, 0.04);
    }
    .table-responsive-vertical table a {
        color: #194497;
    }
    .table-responsive-vertical table td[data-title="Code"] {
        font-weight: 700;
    }
}
