// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import 'table';

html,body{
    height: 100%;
    font-family: "Montserrat",sans-serif;
}
#app{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}
.wrapper{
    display: flex;
    overflow: hidden;
}
.sidebar{
    position: relative;
    width: 250px;
    z-index: 100;
    min-width: 250px;
    max-width: 250px;
    height: 100%;
    border-right: 1px solid rgba(#000,.05);
    background: #404040 ;
    .menu{
        margin: 0;
        padding: 0;
        .menu__item{
            list-style: none;
            display: block;
            .menu__link{
                text-decoration: none;
                color: #fff;
                width: 100%;
                padding: .5rem 1rem;
                display: block;
                font-family: "Montserrat",sans-serif;
                transition: background-color .2s ease-in;
                &:hover{
                    background: #f4f4f4;
                    color: #1b1e21;
                }
            }
        }
    }

}
.main{
    flex: 1;
    height: calc(100vh);
    overflow: auto;
}

@media screen and (max-width: 767px) {
    .sidebar{
        position: absolute;
        left: -250px;
        transition: all .3s ease-in;
        top: 55px;
        height: calc( 100% - 55px);
    }
    .sidebar.open{
        position: absolute;

        left: 0px;
    }
}




